<div class="grid">
    <div class="col">
        <div class="flex justify-content-center">
            <p-button label="Ropa de hombre" routerLink="ropa-hombre" class="m-1"></p-button>
            <p-button label="Ropa de mujer" routerLink="ropa-mujer" class="m-1"></p-button>
            <p-button label="Electronica" routerLink="electronica" class="m-1"></p-button>
            <p-button label="Joyeria" routerLink="joyeria" class="m-1"></p-button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>