<div class="grid mt-5">
    <div class="flex justify-content-center">
        <div class="col-5 fadeindown animation-duration-2000">
            <p-card [header]= objeto.title [subheader]=objeto.category  styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]=objeto.image class="img-thumbnail">
                </ng-template>
                <p class="m-2">{{objeto.description}}</p>
                <ng-template pTemplate="footer">
                    <div class="flex justify-content-between">
                        <h3 class="ml-5">{{objeto.price | number: '1.2-2'}}<i class="pi pi-euro"></i></h3>
                        <p-button label="Añadir al carrito" icon="pi pi-check" (onClick)="addCarrito()"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
