
<p-menubar [model]="items">
    <ng-template #out pTemplate="start">
        <ng-template #out>
            <p-button label="Log out" class="m-1" styleClass="p-button-outlined" (onClick)="reset()"></p-button>
        </ng-template>
        <div *ngIf="!registrado, else out">
            <p-button label="Log in" class="m-1" icon="pi pi-user" styleClass="p-button-outlined" routerLink="login"></p-button>
            <p-button label="Sign up" class="m-1" icon="pi pi-user-plus" styleClass="p-button-outlined p-button-help" routerLink="sign-up"></p-button>
        </div>
    </ng-template>
    <span class="flex">
        <h3 class="m-3">{{helloUser | titlecase}}</h3>
        <p-button label="Cart" icon="pi pi-shopping-bag" class="m-1" (onClick)="op.toggle($event)" (onClick)="calcularTotal(op)" badge={{cantidadCarrito}} badgeClass="p-badge-danger" ></p-button>   
    </span>
</p-menubar>
<p-toast key="tc" position="top-center"></p-toast>
<p-overlayPanel #op [showCloseIcon]="true">
    <ng-template pTemplate>
        <p-table [value]="carrito" [paginator]="true" [rows]="3" responsiveLayout="scroll">
            <ng-template  pTemplate="header">
                <tr>
                    <th>Image</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Eliminar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td><p-avatar [pTooltip] = product.title tooltipPosition="left" [image]=product.image pBadge [value]=product.cantidad styleClass="mr-2" size="large"></p-avatar></td>
                    <td>   
                        <div class="grid">
                            <div class="col-6 flex justify-content-center align-items-center">
                                <h3>{{product.cantidad}}</h3>
                            </div>
                            <div class="col-6">
                                <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm" (onClick)= "sumar(product)"></p-button>
                                <p-button icon="pi pi-minus" styleClass="p-button-danger p-button-rounded p-button-text p-button-sm" (onClick)="restar(product)"></p-button>
                            </div>
                        </div>
                    </td>
                    <td>{{product.price * product.cantidad | number: '1.2-2'}} <i class="pi pi-euro"></i> </td>
                    <td>
                        <p-button type="button" icon="pi pi-trash" styleClass="p-button-danger p-button-outlined p-button-sm" (onClick)="eliminar(product)"></p-button>    
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td><h3>Total =</h3></td>
                    <td colspan="2" class="text-right"><h3>{{total | number: '1.2-2'}} <i class="pi pi-euro"></i></h3></td>
                    <td><p-button label="Confirm Buy" routerLink="home"></p-button></td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>
<p-toast position="bottom-left" key="bc"></p-toast>




