
<p-carousel [value]="productos" [numVisible]="3" [numScroll]="1" >
    <ng-template pTemplate="header">
        <h1>Productos en el catalogo</h1>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="flex justify-content-center ">
            <div class="fadeinright animation-duration-1000">
                <div class="flex justify-content-center">
                    <img src="{{item.image}}" alt="title" class="h-15rem w-15rem" />
                </div>
                <div>
                    <h4 class="mb-1">{{item.title}}</h4>
                    <h6 class="mt-0 mb-3">{{item.category}}</h6>
                    <span class="flex justify-content-end">{{item.price | number: '1.2-2'}} <i class="pi pi-euro"></i> </span>
                    <div class="mt-5">
                        <p-button type="button" label="Ver detalles" class="m-1" styleClass="p-button-info" (onClick)="irADetalles(item.id)"></p-button>
                        <p-button type="button" label="Añadir al carrito" styleClass="p-button-secondary" (onClick)="addCarrito(item)"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<router-outlet></router-outlet>

